:root{
  --clr-dark: hsl(230, 100%, 6%);
  --clr-light: hsl(225, 100%, 81%);
  --clr-slate: hsl(225, 84%, 24%);
  --clr-primary: hsl(227, 86%, 17%);
}

a{ 
    text-decoration:none; 
    color:var(--clr-light); 
}

body{
  margin-top:80px;
  background:var(--clr-dark);
  color:var(--clr-light);
}

::-webkit-scrollbar{ 
    width:3px; 
}

::-webkit-scrollbar-track{ 
    background:var(--clr-dark); 
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(var(--clr-dark),var(--clr-light));
  border-radius:10px;
}

.navbar{
  position:fixed; 
  top:0; 
  left:0; 
  right:0;
  display:flex; 
  justify-content:space-between; 
  align-items:center;
  height:75px; 
  padding:0 25px;
  background:var(--clr-dark); 
  color:var(--clr-light);
}
#navigations{ 
    display:flex; 
    gap:25px; 
}

.hero{ 
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap; 
}

.me{
  width:49%; 
  display:flex; 
  flex-direction:column; 
  gap:30px; 
  color:var(--clr-light);
}

.jothi{
  display:flex; 
  align-items:center;
  width:100%; flex:2; 
  height:110px;
  border-radius:12px; 
  background:var(--clr-primary);
  font-size:3em; 
  line-height:40px; 
  padding:50px 0;
}

.name{ 
    width:85px; 
    padding:10px 40px; 
}

.college{
  display:flex; flex:1; 
  padding:60px 10px;
  border-radius:12px; 
  background:var(--clr-slate); 
  color:var(--clr-light);
}

.clg_name{ 
    align-self:center; 
    padding-left:30px; 
    font-size:1.5em; 
    max-width:450px; 
}

.four_container{
  display:grid; 
  grid-template-columns:1fr 1fr; 
  grid-template-rows:1fr 1fr; 
  gap:35px;
}

.detail{
  border-radius:10px; 
  padding:30px 40px;
  background:var(--clr-slate); 
  text-align:center; 
  color:var(--clr-light);
}

.image_container{
  width:49%; 
  height:800px; 
  position:relative; 
  z-index:-1;
}
#image_1{
  width:100%; 
  height:100%; 
  object-fit:cover; 
  border-radius:10px;
}

.image_container::after{
  content:''; 
  position:absolute; 
  inset:0;
  background:var(--clr-light); 
  mix-blend-mode:overlay;
  border-radius:12px; 
  pointer-events:none;
}

.skill_work{ 
    display:flex; 
    flex-direction:column; 
}

.skills{
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between;
  margin-top:50px; 
  height:600px;
}

.heading{
  display:flex; 
  justify-content:center;
  width:100%; 
  border-radius:12px; 
  background:var(--clr-primary);
}

.heading h2{
  margin:0; 
  padding:60px 20px;
  color:var(--clr-light); 
  font-size:3em;
}

.skill_content{
  width:100%; 
  display:grid;
  grid-template-columns:1fr 1fr; 
  gap:20px 35px;
}

.skill_content div{
  border-radius:12px; 
  padding:20px 80px;
  text-align:center; 
  background:var(--clr-slate);
  color:var(--clr-light); 
  font-size:25px;
}

.works{
  margin-top:50px; 
  height:465px;
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between;
}

.work_heading{
  display:flex; 
  justify-content:center;
  width:100%; 
  padding:60px 0;
  border-radius:12px; 
  background:var(--clr-primary);
}

.work_heading h2{ 
    margin:0; 
    font-size:48px; 
}

.works_container{
  display:flex; 
  flex-direction:column; 
  flex-wrap:wrap;
  gap:25px; 
  width:100%; 
  align-content:center;
}

#web_ev_container{
  display:grid; 
  width:100%; 
  grid-template-columns:1fr 1fr; 
  gap:35px; 
  justify-content:center;
}

.websites,.edited_video{
  flex:1; 
  font-size:25px; 
  text-align:center; 
  border-radius:12px;
  background:var(--clr-slate); 
  padding:45px 0;
}

.python_projects_container{
  display:flex; 
  flex:1; 
  justify-content:center; 
  align-self:center;
  width:70%; 
  border-radius:12px; 
  background:var(--clr-slate);
}

.python_project{ 
    padding:45px 80px; 
}

.python{ 
    font-size:25px; 
}
