:root{
  --clr-dark: hsl(230, 100%, 6%);
  --clr-light: hsl(225, 100%, 81%);
  --clr-slate: hsl(225, 84%, 24%);
  --clr-primary: hsl(227, 86%, 17%);
  --clr-grey: rgba(21, 21, 21, 0.689);
}

html{
    scroll-behavior: smooth;
}

a{ 
    text-decoration:none; 
    color:var(--clr-light); 
}

body{
  margin-top:80px;
  background:var(--clr-dark);
  color:var(--clr-light);
  position: relative;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;               
    background: url('https://images.rawpixel.com/image_png_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMTEtMDEyYS5wbmc.png?s=DWnDAX1J1kbB5bb8yp7HXgictgnDdvHPL5FQpRYK_s8') repeat;
    opacity: 0.03;          
    pointer-events: none;   
    z-index: 9999;
}          

::-webkit-scrollbar{ 
    width:3px; 
}

::-webkit-scrollbar-track{ 
    background:var(--clr-dark); 
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(var(--clr-dark),var(--clr-light));
  border-radius:10px;
}

.navbar{
  z-index: 100;
  position:fixed; 
  top:0; 
  left:0; 
  right:0;
  display:flex; 
  justify-content:space-between; 
  align-items:center;
  height:75px; 
  padding:0 25px;
  background:var(--clr-dark); 
  color:var(--clr-light);
  
}
#navigations{ 
    display:flex; 
    gap:25px; 
}

.hero{ 
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap; 
}

.me{
  width:49%; 
  display:flex; 
  flex-direction:column; 
  gap:30px; 
  color:var(--clr-light);
}

.jothi{
  z-index: 1;  
  display:flex; 
  align-items:center;
  width:100%; flex:2; 
  height:110px;
  border-radius:12px; 
  background-color:var(--clr-light);
  font-size:3em; 
  line-height:40px; 
  padding:50px 0;
  position: relative;
  overflow: hidden;
  transition: 200ms;
}

.jothi:hover{
    color: var(--clr-dark);
}

.jothi::before{
    z-index: -1;
    position: absolute;
    content: '';
    background-color: var(--clr-primary);
    /* width: 100%; */
    inset: 1;
    top: 0;
    bottom: 50%;
    left:0;
    right: 0;
    color: var(--clr-dark);
    transition: 200ms;
}
.jothi:hover::before{
    z-index: -1;
    position: absolute;
    content: '';
    background-color: var(--clr-primary);
    /* width: 100%; */
    inset: 1;
    top: 0;
    bottom: 100%;
    left:0;
    right: 0;

}

.jothi::after{
    position: absolute;
    content: '';
    background-color: var(--clr-primary);
    /* width: 100%; */
    inset: 1;
    top: 50%;
    bottom: 0;
    left:0;
    right: 0;
    transition: 200ms;
}
.jothi:hover::after{
    position: absolute;
    content: '';
    background-color: var(--clr-primary);
    /* width: 100%; */
    inset: 1;
    top: 100%;
    bottom: 0;
    left:0;
    right: 0;
}

.name{ 
    position: relative;
    width:85px; 
    padding:10px 40px; 
    z-index: 1;
}

.college{
    z-index: 1;
    position: relative;
    display:flex; 
    flex:1; 
    padding:60px 10px;
    border-radius:12px; 
    background:var(--clr-slate); 
    color:var(--clr-light);
    overflow: hidden;
    transition: 200ms;
}
.college:hover{
    color: hsl(225, 100%, 93%);
}

.college::after{
    z-index: -1;
    position: absolute;
    content: '';
    inset: 1;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: 200ms;
}
.college:hover::after{
    z-index: -1;
    position: absolute;
    content: '';
    inset: 1;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    background-color: var(--clr-primary);
}

.college::before{
    z-index: -1;
    position: absolute;
    content: '';
    inset: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background-color: var(--clr-primary);
    transition: 200ms;
}
.college:hover::before{
    z-index: -1;
    position: absolute;
    content: '';
    inset: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background-color: var(--clr-primary);
}

.clg_name{ 
    z-index: 0;
    position: relative;
    align-self:center; 
    padding-left:30px; 
    font-size:1.5em; 
    max-width:450px; 
}

.four_container{
  display:grid; 
  grid-template-columns:1fr 1fr; 
  grid-template-rows:1fr 1fr; 
  gap:35px;
}

.detail{
  border-radius:10px; 
  padding:30px 40px;
  background:var(--clr-slate); 
  text-align:center; 
  color:var(--clr-light);
}

.image_container{
  width:49%; 
  height:800px; 
  position:relative; 
  /* z-index:-1; */
  overflow: hidden;
  cursor: none;
  border-radius: 12px;
}

#image_1{
  width:100%; 
  height:100%; 
  object-fit:cover; 
  transition: 200ms ease-in-out;
  overflow: hidden;
}
#image_1:hover{
    transform: scale(105%);
}

.image_container::after{
  content:''; 
  z-index: 2;
  position:absolute; 
  inset:0;
  background:var(--clr-light); 
  mix-blend-mode:overlay;
  border-radius:inherit; 
  pointer-events:none;
  overflow: hidden;
  /* opacity: 1; */
}

.image_container::before{
    content:'Damn Sybau';
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
    position:absolute; 
    inset:0;
    background:var(--clr-grey); 
    /* mix-blend-mode:overlay; */
    border-radius:inherit; 
    pointer-events:none;
    opacity: 0;
    transition: opacity 200ms ease;
}
.image_container:hover::before{
    opacity: 1;
}


.skill_work{ 
    display:flex; 
    flex-direction:column; 
}

.skills{
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between;
  margin-top:50px; 
  height:600px;
}

.heading{
  display:flex; 
  justify-content:center;
  width:100%; 
  border-radius:12px; 
  background:var(--clr-primary);
}

.heading h2{
  margin:0; 
  padding:60px 20px;
  color:var(--clr-light); 
  font-size:3em;
}

.skill_content{
  width:100%; 
  display:grid;
  grid-template-columns:1fr 1fr; 
  gap:20px 35px;
}

.skill_content div{
  border-radius:12px; 
  padding:20px 80px;
  text-align:center; 
  background:var(--clr-slate);
  color:var(--clr-light); 
  font-size:25px;
}

.works{
  margin-top:35px; 
  height:465px;
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between;
}

.work_heading{
  display:flex; 
  justify-content:center;
  width:100%; 
  padding:60px 0;
  border-radius:12px;
  background:var(--clr-primary);
}

.work_heading h2{ 
    margin:0; 
    font-size:48px; 
}

.works_container{
  display:flex; 
  flex-direction:column; 
  flex-wrap:wrap;
  gap:25px; 
  width:100%; 
  align-content:center;
}

#web_ev_container{
  display:grid; 
  width:100%; 
  grid-template-columns:1fr 1fr; 
  gap:35px; 
  justify-content:center;
}

.websites,.edited_video{
  flex:1; 
  font-size:25px; 
  text-align:center; 
  border-radius:12px;
  background:var(--clr-slate); 
  padding:45px 0;
}

.python_projects_container{
  display:flex; 
  flex:1; 
  justify-content:center; 
  align-self:center;
  width:70%; 
  border-radius:12px; 
  background:var(--clr-slate);
}

.python_project{ 
    padding:45px 80px; 
}

.python{ 
    font-size:25px; 
}
